{% extends 'blog/basic.html' %}
{% block body %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Welcome to text utils </strong> You can do anything with your text here!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="container">

        <form action='blog/analyze' method='post'>
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter your text here and let text util do the magic</label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="8"></textarea>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch"  name = "removepunc" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Remove punctuations</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name = "fullcaps" id="flexSwitchCheckDefault2">
            <label class="form-check-label" for="flexSwitchCheckDefault">UPPERCASE</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name = "newlineremover" id="flexSwitchCheckDefault3">
            <label class="form-check-label" for="flexSwitchCheckDefault">New Line Remover</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name = "extraspaceremover" id="flexSwitchCheckDefault4">
            <label class="form-check-label" for="flexSwitchCheckDefault">Extra space remover</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name = "charactercounter" id="flexSwitchCheckDefault4">
            <label class="form-check-label" for="flexSwitchCheckDefault">Character counter</label>
          </div>
            <button type="sbumit" class="btn btn-dark mt-2">Analyze Text</button>
          </form>
      </div>
      {% endblock %}
